.hidden {
    display: none;
}

.add-item {
    width:90% !important;
    padding: 2% 5%;
    position: fixed;
    top: 2%;
    left: 5%;
    background-color: #fff;
    border: solid 1px #E0E0E0;
    border-radius: 6px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);

}

.add-item .icon-close {
    display: block;
    float: right;
    background:url('../images/icon-close.png');
    width: 32px;
    height: 32px;
    cursor: pointer;
}